<div class="wrapper">
Hi <%= @user.username %> <br>
here are the requests you've send</p>

<div class="wrapper-request">

<% @requests.each do |request| %>
<div class="card-request">
  <div class="left">
  <div>
  <img src=" <%=  request.dutchy.photo %>" alt=" <%= request.dutchy.username %>  " class="avatar-large"> </div>
  <div>
  <span class="name text-center"><%= request.dutchy.username %> </span> </div>
  </div>

  <div class="right">
  <div class="message-a"><%= request.message %></div>
 <br>

<% if request.status == "pending"%>
  <%= request.dutchy.username  %> has not responded yet.
<% elsif request.status == "declined" %>
  <%= request.dutchy.username  %> declined your request.
<% elsif request.status == "accepted" %>
  Send an email to <a href="mailto:<%= request.dutchy.email %>"><%= request.dutchy.username  %></a>
<% end %> <br>
  <%= link_to "Go to the profile page of #{request.dutchy.username}", dutchy_path(request.dutchy)  %>

  </div>
  </div>

<% end %>
</div>
