<div class="wrapper">
  <h1>OFFERS FOR DUTCHIE</h1>

  <% @offers.each do |offer| %>
  <h2> <%=offer.message  %> </h2>
  <h3> <%= User.find(offer.refugee_id).username %> </h3>
  <!-- <h3> Status: <%= offer.status %> </h3> -->
  <% if offer.status == "pending" %>
  <%= link_to "ACCEPT", accept_dutchies_offer_path(offer), method: :patch , class:"btn btn-success" %>
  <%= link_to "REFUSE", refuse_dutchies_offer_path(offer), method: :patch , class:"btn btn-danger" %>
  <% elsif offer.status == "accepted" %>
  You accepted, sent <%= offer.refugee.username  %> an <a href="mailto:<%= offer.refugee.email %>"> email</a>
  <% else %>
    You declined the offer of <%= offer.refugee.username %>
  <% end %>
  <% end %>



</div>
