<div class="wrapper">
  <div class="profile">
    <h3>Edit your profile </h3>
    <div class="profile-info">
      <div>
        <%= form_for @user, url: profile_update_path, html: {method: :get} do |f| %>
        <%= f.text_field :username %>
      </div>

      <div>
       <%= f.text_area :description, class: 'message'%>
     </div>

     <div>
       <%= f.text_field :photo %>
     </div>
     <div>
       <%= f.submit %>
     </div>
   </div>

   <% end %>
 </div>
</div>
