<div class="wrapper">
  <h1>YOUR OWN PROFILE</h1>
  <p> You NAME:<%= @user.username %> </p>
  <p> You are a <%= @user.kind %> </p>
  <p> Your current description: <%= @user.description %></p>

  <p> YouR photo</p>
  <p><img src="<%= @user.photo %>"></p>


  <%= link_to "Edit Profile", edit_profile_path(@user), class:"btn btn-warning"%>
</div>
